<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

            <div class="col-lg-3 col-md-6 footer-contact">
                <h3>Kradac<span>.</span></h3>
                <p>
                Calles Crisantemos 241-26 y Anturios <br>
                C. Anturios 13-15 y, Loja 110110<br>
                Loja - Ecuador<br><br>
                <strong>Phone:</strong> 0994 080 208<br>
                <strong>Email:</strong> comunicacion@kradac.com<br>
                </p>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
                <h4>Enlaces de la Plataforma</h4>
                <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Gráfica</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Desarrolladores</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Servicios</h4>
                <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Transporte Privado</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Compra de Viveres</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Traslado a Aeropuertos</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Reservaciones</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Permítenos seguir formando parte de tus Transportes</h4>
                <p>RECUERDA reservar tus entradas a todos los eventos importantes de la ciudad de Loja a través de nuestro aplicativo</p>
            </div>

            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
