.container {
  display: flex;
  font-family: "Roboto";
}
.box-1 {
  width: 80%;
}

h4 {
  font-size: 30px;
}

.box-2 {
  border-color: #2b2b2b;
  background-color: #2b2b2b;
  border-width: 2px;
  border-style: solid;
  margin: 190px 30px 50px 30px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  width: 20%;
  height: 395px;
  max-height: 400px;
  font-family: "Roboto";
}
.box-2 input input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
  border: 1px solid white;
  padding: 5px 10px;
  font-family: "Roboto";
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.box-2 h5,
label {
  color: #f5f5f5;
}

.box-2 h5 {
  color: #f5f5f5;
}
.box-2 input,
select {
  width: 150px;
}
.box-2::before {
  content: ”;
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% – 50px));
}
.box-2::after {
  content: "";
  position: absolute;
  right: -30px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  z-index: -1;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}
/*
Percepción
*/
.recepcion p {
  font-size: 40px;
}
/* 
Valoracion
*/
.chip {
  padding: 8px 20px;
  border-radius: 10px;
  font-weight: 700;
  text-align: center;
  font-size: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  margin: 5px 5px;
  height: 50px;
  width: 130px;
  max-width: 300px;
  cursor: pointer;
  display: flex;
  color: white;
}
.chip.neutral {
  background: #fe8019;
}
.chip.bad {
  background: #e03a3c;
}
.chip.great {
  background: #b8bb26;
}
.chip-avatar {
  border-radius: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.chip-avatar img {
  height: 25px;
  width: 25px;
  border-radius: 50px;
}

.chip-avatar label {
  margin-left: 5px;
  font-size: 12px;
}
.box h2 {
  font-size: 50px;
}
.badextended {
  display: flex;
  flex-direction: column;
  padding: 8px 20px;
  border-radius: 11px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  margin: 5px 5px;
  height: 50px;
  width: 270px;
  color: white;
  font-size: 13px;
}

.badextended label {
  margin-top: 6px;
}
.badextended.neutral {
  background: #fe8019;
}
.badextended.bad {
  background: #e03a3c;
}
.badextended.great {
  background: #b8bb26;
}
.badextendedCero {
  display: flex;
  flex-direction: column;
  border-radius: 11px;
  font-weight: 700;
  text-align: center;
  font-size: 10;
  min-height: 60px;
  color: white;
}
.badextendedCero.neutral {
  background: #2b2b2b;
}
.badextendedCero.bad {
  background: #e03a3c;
}
.badextendedCero.great {
  background: #de7834;
}
.box h4 {
  margin-top: 10px;
}
.box h3 {
  font-size: 16px;
}

.average p {
  font-size: 90px;
  text-align: center;
  font-weight: 600;
  margin: auto;
  pad: auto;
  background-image: linear-gradient(to right, #fe8019, #b8bb26);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.average h4 {
  text-align: center;
}
.average b {
  font-size: 30px;
}

.box:hover {
  background: #3c3836;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.recepcion {
  overflow: hidden;
}
.stars{
  color: #fabd2f;
}
.stars:hover{
  -webkit-transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}