<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <h1 style="font-size: 200px">Kradac</h1>
        <p style="font-size: 40px; color: white">
          <b>Tu aplicación Móvil de confianza</b>
        </p>

        <br />
        <p style="font-size: 30px; color: white">
          Con más de 1200 unidades a nivel nacional y multiples proyectos <br />
          para la inovasción de transporte.
        </p>
        <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
      </div>
      <div class="col-xl-6 col-lg-6">
        <img src="assets/img/logotaxi.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->
