<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-auto"><a href="index.html">Kradac<span>.</span></a></h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="home#grafica_1">Grafica</a></li>
                <li><a class="nav-link scrollto" href="home#pricing">Percepción</a></li>
                <li><a class="nav-link scrollto" href="home#services">Promedio</a></li>
                <li><a class="nav-link scrollto" href="home#calificacion">Calificación</a></li>
                <li><a class="nav-link scrollto" href="home#team">Desarrollador</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<!-- End Header -->
